/* Reset some default styles */
body, h1, p {
    margin: 70;
    padding: 10;
  }
  
  /* Create a background*/
  body {
    background-image: url(pics/bg.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
  }

  
  /* Style the header */
  header {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
    text-align: center;
  }
  
  h1 {
    font-size: 40px;
    color: #000;
    font-family: 'Poppins', sans-serif;
  }

  h2 {
    font-family: 'Poppins', sans-serif;

  }

  nav {

    font-family: 'Poppins', sans-serif;
  }


  
  /* Style the main content */

  #text {
    font-size: 30px;
    color: #000;
    font-style:normal ;
    margin: 30px;
    font-family: 'Oswald', sans-serif;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    text-align: left;
  
    



  }

  #footer{
    font-size: 30px;
    color: #000;
    font-style:normal 
  
  }

  /* mobile phones*/
@media (max-width: 768px) {
  body {
    background-size: 100% 100%; /* Stretch the background image to cover the entire viewport */
  }
  #text {
    font-size: 15px;
    color: #000;
    font-style:normal ;
    margin: 10px;
    font-family: 'Oswald', sans-serif;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    text-align: left;
  }
  h1 {
    font-size: 20px;
    color: #000;
    font-family: 'Poppins', sans-serif;
  }
  h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;

  }
  nav {

    font-family: 'Poppins', sans-serif;
    font-size:10px;
  }
}
